header {
    background-color: rgb(227, 220, 220);

    nav {
        .navbar-brand {

            color: #363333;
        }

        a {
            color: #363333;
        }

        button {
            
            span {
                color: #363333;
            }
        }
    }
}

main {
    background-color: rgb(33,37,41);

    .container--principal {
        margin: 0 auto;
        background-color: rgb(227, 220, 220);
        width: 85%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 15px 30px 30px 30px;


        h2 {
            font-size: 1.7em;
            text-align: center;
        }

        .apresentacao {
            margin: 20px auto;
            font-size: 1em;
            text-align: center;
        }

        .divisao {
            border-bottom: 1px solid #363333;
            margin: 0 auto;
            width: 30%;
        }

        .link {
            text-decoration: underline;
            text-decoration-color: #362d2d;
            margin-left: 5px;
            color: #362d2d;
            text-transform: uppercase;
            
        }

        .post-container {
            width: 100%;

            .post-conteudo {
                margin: 30px auto;
            }

            .divisao-titulo {
                width: 20%;
                margin: 0 0 20px 0;
                border-bottom: 1px solid #363333;
            }

            .divisao-post {
                border-bottom: 1px solid;

            }
        }
    }

}

.footer {
    background-color: rgb(33,37,41);
    margin: 0;
    padding: 0;
    height: 0;

    p {
        padding: 10px;
        color: rgb(227, 220, 220);
        text-align: center;

        a {
            color: rgb(227, 220, 220);
        }
    }
}
