header{
    background-color: rgb(33,37,41);
}

.container{
    padding: 0;
}
.main{
    margin-top: 80px;
}

.center{
    padding: 50px;
}

#lh{
    width: 100px;
    height: 5px;
    margin-bottom: 50px;
}


footer{
    margin-top: 100px;
}

header .bg-gray{
    background-color: rgb(33,37,41);
}

header .bg-gray a{
    color: white;
    font-size: 20px;
    transition: 0.8s;
}

header .bg-gray a:hover{
    color: rgb(154, 156, 156);;
}


.container--main {
    padding: 1.5%;

}