
header{
    background-color: rgb(33,37,41);
}

.main{
    background-color: white;
    height: 700px;
}

.main h1{
    margin-top: 50px;
}
.main p{
    text-align: start;
    margin-left: 20px;
    font-size: 20px;
}
.container{
    padding: 0;
}

article .main hr{
    width: 100px;
    height: 5px;
    margin: auto;
    margin-bottom: 50px;
}

.share-btn-container{
    background-color: white;
    display: flex;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    justify-content: center;
}

.share-btn-container a i{
    font-size: 32px;
}

.share-btn-container a{
    margin: 12px 5px;
    transition: 500ms;
}

.share-btn-container a:hover{
    transform: scale(1.2);
}