@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
    --fonte-desktop-titulo: 3.1rem;
    --fonte-desktop-body: 1.5rem;
    --fonte-mobile-titulo: 2.6rem;
    --fonte-mobile-body: 1.2rem;
}


*{
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}


.parallax{
    background-image: url("../imagens/paralax-image.jpg");
    min-height: 990px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(10px); 
}

.linha {
    margin: auto;
}

.container{
    background-color: white;
}

.bg-text{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 6px #4D4545;
    font-size: 5.3em;
    text-align: center;
    z-index: 2;
}

@media (max-width: 1450px) {


    .bg-text {
        font-size: 4.1em;
    }
}


.container-seta {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}


.container-seta span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #4D4545;
    border-right: 5px solid #4D4545;
    /* box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); */
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

@media (max-width:1450px) {
    
    .container-seta {
        top: 65%;
    }

    .container-seta span {
        border-bottom: 2.5px solid #4d4545;
        border-right: 2.5px solid #4d4445;
    }
}

.container-seta span:nth-child(1) {
    animation-delay: -0.2s;
}

.container-seta span:nth-child(2) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
       opacity: 0;
       transform: rotate(45deg) translate(-20px, -20px); 
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

#ind{
    margin-top: 250px;
}

#ind h2{
    font-size: var(--fonte-desktop-titulo);
}

#ind hr{
    width: 200px;
    height: 5px;
    margin: auto;
}

#ind .escolhas{
    margin-top: 40px;
}

#ind .ind{
    margin-bottom: 320px;
}

.altr-pd{
    min-height: 200px;
}

#info{
    height: 300px;
    margin-top: 100px;
}

.novo {
   font-size: 0.9em;
   color: blueviolet; 
}

#info .info{
    background-image: url(../imagens/book-bg-png.png);
    background-position: center;
    height: 620px;
    margin: 0 auto;
    margin-top: 150px;
    background-repeat: no-repeat;
}

#info .img{
    z-index: 2;
    position: relative;
    bottom: 50px;
}

#info p{
    font-size: 30px;
    padding: 40px;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: inherit;
    margin-left: 50px;
    margin-top: 80px;

}

#info .info-row{
    margin: 70px;
}

.espa {
    padding: 15px;
}

#info .txts{
    margin: auto;
}

#arquivo .arquivo--container {
    margin: 10px auto;
    padding: 30px;
    width: 80%;
    height: 400px;
    transform: skew(-10deg);
    background-color: #4d4545;
    color: #e3dcdc;
}

#arquivo .arquivo--container h2 {
    font-size: var(--fonte-desktop-titulo);
}

#arquivo .arquivo--container hr {
    width: 200px;
    height: 5px;
    border: none;
}

.arquivo--texto {
    text-align: center;
    font-size: var(--fonte-desktop-body);
    margin: 15px;
}

#blog {
    margin-top: 120px;
    padding: 20px;
}

.blog--container h2 {
    font-size: var(--fonte-desktop-titulo);
}

#blog .blog--container hr {
    width: 200px;
    height: 5px;
    margin: 5px auto;
}

.blog--accordion__conatiner {
    margin: 35px auto;
}

#cronicas {
    margin: 120px 0 10px 0;
    
}

#cronicas .cronicas--container h2 {
    font-size: var(--fonte-desktop-titulo);
}

#cronicas .cronicas--container hr {
    width: 200px;
    height: 5px;
    margin: 5px auto;
}

.cronicas--accordion__container {
    margin: 35px auto;
    
}

.cronicas--accordion__flex {
    display: flex;
}


footer{
    background-color: rgb(33,37,41);
}

footer .container{
    background-color: rgb(33,37,41);
    color: #e3dcdc;
}

footer .nav {
    padding: 25px 50px;
}

footer nav a{
    font-size: 20px;
    width: fit-content;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    color: #e3dcdc;
}

footer .row hr{
    transform: rotate(90deg);
    width: 5%;
    margin: auto;
    height: 5px;
    color: black;
}

footer .copy{
    margin: 0 auto;
    color: #e3dcdc;
    text-align: center;
}

footer .copy a{
    text-decoration: none;
    color: #e3dcdc;
    font-style: italic;
}

footer .copy .link-externo {
    width: 15px;
    height: 15px;
    fill: #e3dcdc;

}

footer .copy a:hover{
    color: rgb(87, 86, 86);;
}

.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.box-shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}



@media screen and (max-width: 1500px){

    .parallax{
        min-height: 550px;
    }

    #ind .escolhas{
        flex-direction: column;
    }



    .espa{
        padding: 15px;
    }

    #info .txts{
        margin: 10px auto;
    }

    #arquivo {
        margin-top: 120px;
        padding: 20px;
        width: 100%;
        height: fit-content;
    }

    #arquivo .arquivo--container {
        transform: skew(-7deg);
    }

    #arquivo .arquivo--container .botao {
        width: 200px;
    }

    #arquivo .arquivo--container h2{
        font-size: var(--fonte-mobile-titulo);
    }

    #arquivo .arquivo--container p {
        font-size: var(--fonte-mobile-body);
        margin-bottom: 20px;
    }

    #blog {
        margin-top: 120px;
        padding: 20px;
        width: 100%;
        height: fit-content;
    }

    #cronicas {
        margin-top: 120px;
        padding: 20px;
        width: 100%;
        height: fit-content;
    }

    #cronicas .cronicas--container {
        flex-direction: column;
    }

    footer{
        text-align: center;
    }

    footer .row {
        flex-direction: column;
    }
    
    footer .row hr{
        width: 65%;
        transform: rotate(-180deg);
        margin: 0 auto;
        height: 5px;
        border: none;
        color: #4d4545;
    }
    
}