@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

*{
    box-sizing: border-box;
}

main{
    margin-top: 45px;
}

.parallax{
    background-image: url("../imagens/paralax-image.jpg");
    min-height: 990px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    
}

.container{
    background-color: white;
}

.bg-text{
    color: white;
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.719);
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.bg-text h1{
    font-size: 93px;
}

#ind{
    margin-top: 300px;
}

#ind h2{
    font-size: 3.1rem;
}

#ind hr{
    width: 200px;
    height: 5px;
    margin: auto;
}

#ind .escolhas{
    margin-top: 40px;
}

#ind .ind{
    margin-bottom: 320px;
}

.altr-pd{
    min-height: 200px;
}

#info{
    height: 300px;
    margin-top: 100px;
}

#info .info{
    background-image: url(../imagens/book-bg-png.png);
    background-position: center;
    height: 620px;
    margin: 0 auto;
    margin-top: 150px;
    background-repeat: no-repeat;
}

#info .img{
    z-index: 2;
    position: relative;
    bottom: 50px;
}

#info p{
    font-size: 30px;
    padding: 40px;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: inherit;
    margin-left: 50px;
    margin-top: 80px;

}

#info .info-row{
    margin: 70px;
}

#info .txts{
    margin: auto;
}

#arquivo {
}

#arquivo .arquivo--container {
    margin: 10px auto;
    padding: 30px;
    width: 80%;
    height: 400px;
    transform: skew(-10deg);
    background-color: aqua;
}

#arquivo .arquivo--container h2 {
    font-size: 3.1rem;
}

#arquivo .arquivo--container hr {
    width: 200px;
    height: 5px;
}

#arquivo .arquivo--container p {

}

.arquivo--texto {
    text-align: justify;
    font-size: 1.5rem;
    margin: 15px;
}

#blog {
    margin: 120px;
}

.blog--container h2 {
    font-size: 3.1rem;
}

#blog .blog--container hr {
    width: 200px;
    height: 5px;
    margin: 5px auto;
}

.blog--accordion__conatiner {
    margin: 35px auto;
}

#cronicas {
    margin: 120px;
}

#cronicas .cronicas--container {

}

#cronicas .cronicas--container h2 {
    font-size: 3.1rem;
}

#cronicas .cronicas--container hr {
    width: 200px;
    height: 5px;
    margin: 5px auto;
}

.cronicas--accordion__container {
    margin: 35px auto;
}


footer{
    background-color: #adb5bd;
}

footer .container{
    background-color: #adb5bd;
}

footer nav{
    padding: 50px;
}

footer nav a{
    font-size: 20px;
}

footer nav a.bl{
    color: black;
    transition: 0.6s;
}

footer nav a.bl:hover{
    color: rgb(87, 86, 86);
}

footer .row hr{
    transform: rotate(90deg);
    width: 100px;
    margin: auto;
    height: 5px;
    color: black;
}

footer .copy{
    margin: 0;
    color: black;
    text-align: center;
}

footer .copy a{
    text-decoration: none;
    color: black;
}

footer .copy a:hover{
    color: rgb(87, 86, 86);;
}


#anim btn:hover i {
    animation: setinha infinite ease-in-out;
}

@keyframes setinha {
    0% {
        margin-left: 5;
    }

    50% {
        margin-left: 15px;
    }

    100% {
        margin-left: 5px;
    }
}

.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}



@media screen and (max-width: 1500px){

    .parallax{
        min-height: 1550px;
    }

    #ind .escolhas{
        flex-direction: column;
    }


    #info .info{
        background-image: none;
        margin: auto;
        height: 300px;
        margin-top: 150px;
    }

    #info p{
        font-size: 20px;
        font-family: 'Gloria Hallelujah', cursive;
        text-align: center;
        margin:auto;
        padding: 0;
    
    }

    .espa{
        padding: 15px;
    }

    #info .txts{
        margin: 10px auto;
    }

    footer{
        height: 510px;
    }
    
    footer .row hr{
        display: none;
        width: 100px;
        margin: auto;
        height: 5px;
        color: black;
    }
    
}